/*ul{
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}
.demo .item{
    margin-bottom: 60px;
}
.content-slider li{
    background-color: #ed3020;
    text-align: center;
    color: #FFF;
}*/
/*.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}*/
.modal {

}

.demo {
    z-index: 1;
}
.actions {
    position: absolute;
    top:-1800px;
/*    top:-2000px;*/
    right:20px;
    z-index:2;
}
.category {
    position: absolute;
    top:-1800px;
/*    top:-2000px;*/
    left:0px;
    z-index:2;
}

.slide-img {
    width: 1080px; 
    height: 1850px;
}

#tag {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-radius: 0px 50px 50px 0px;
}

.action-icon {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
}

#feedbackAction {
    font-size: 48px;
    font-weight: bold;
}

/* Font icons*/
.material-icons.active { 
    font-size: 128px; 
}
.material-icons.md-64 { 
    font-size: 64px; 
}
.material-icons.md-128 { 
    font-size: 128px; 
}
.material-icons.white{ 
    color: #ffffff; 
}
