/*ul{
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}
.demo .item{
    margin-bottom: 60px;
}
.content-slider li{
    background-color: #ed3020;
    text-align: center;
    color: #FFF;
}*/
/*.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}*/

.demo {
    z-index: 1;
}
.actions {
    position: absolute;
    top:-1800px;
    left:980px;
    z-index:2;
}
/*With tag*/
/*.actions {
    position: absolute;
    top:-1800px;
    right:20px;
    z-index:2;
}*/
.tag {
    position: absolute;
    top:-1800px;
    left:0px;
    z-index:2;
}
.play-pause {
    position: absolute;
    top:-1250px;
    left:470px;
    z-index:2;
}
.tutorial {
    position: absolute;
    top:-1500px;
    left:180px;
    z-index:2;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}
.feedback {
    width: 450px;
    height: 220px;
    position: absolute;
    top:-1500px;
    left:180px;
    z-index:2;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    color: #ffffff;
}
.overlay {
    width: 1080px;
    height: 70px;
    position: absolute;
    top: -1925px;
    left: 0px;
    z-index:2;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.slide-img {
    width: 1080px; 
    height: 1920px;
}
#renewCode {
    background-color: rgba(0, 0, 0, 0.8);
    color: #007aff;
}

#tag {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-radius: 0px 50px 50px 0px;
}

.action-icon {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 80px;
}

#feedbackAction {
    font-size: 48px;
    font-weight: bold;
}

.overlay-footer {
    position: absolute;
    bottom: 7px;
    z-index:2;
}

.overlay-qr {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 0px;
    right:150px;
    z-index:2;
    background-color: #ffffff;
    border-radius: 80px 0px 0px 0px;
}

#qrcode {
    position: absolute;
    bottom: 110px;
    right:62px;
    z-index:3;
}



/* Font icons*/
.material-icons.active { 
    font-size: 128px; 
}
.material-icons.md-64 { 
    font-size: 64px; 
}
.material-icons.md-128 { 
    font-size: 128px; 
}
.material-icons.white{ 
    color: #ffffff; 
}
